:root {
  --neutral-950: #0a0a0a;
  --neutral-900: #171717;
  --neutral-800: #262626;
  --neutral-700: #404040;
  --neutral-600: #525252;
  --neutral-500: #737373;
  --neutral-400: #a3a3a3;
  --neutral-300: #d4d4d4;
  --neutral-200: #e5e5e5;
  --neutral-100: #f5f5f5;
  --neutral-50: #fafafa;

  --accent-400: #22d3ee;
  --accent-600: #0891b2;
  --accent-700: #0e7490;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-wrap: anywhere;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

h1 {
  font-size: 2.9rem;
}

body {
  background-color: var(--neutral-950);
  color: var(--neutral-50);
}

header {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

ul {
  margin: 0;
  padding: 0;
  font-size: 1.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100%;
}

li {
  list-style: none;
  cursor: pointer;
}

li:hover,
li:focus,
li:active {
  color: var(--accent-400);
}

.active {
  color: var(--accent-400);
}

.wrapper {
  width: 90%;
  margin-inline: auto;
  max-width: 600px;
  text-align: center;
}

.card {
  background: var(--neutral-800);
  display: flex;
  padding: 2rem;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.card__left {
  width: 60px;
}

.card__right {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card__img {
  border-radius: 50%;
  margin-bottom: 1rem;
}

.card__info1 {
  color: var(--neutral-300);
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.card__info2 {
  font-size: 1.6rem;
}

.card__nameDiv {
  display: none;
}

.card__emailDiv {
  display: none;
}

.card__ageDiv {
  display: none;
}

.card__countryDiv {
  display: none;
}

.card__phoneDiv {
  display: none;
}

.show {
  display: block;
}

.btn {
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: var(--accent-700);
  color: var(--neutral-100);
  border: none;
  font-size: 1.5rem;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-600);
}

@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }

  ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .card {
    flex-direction: column;
  }

  .card__left,
  .card__right {
    width: 100%;
  }

  .btn {
    width: 100%;
  }
}
